
<style>
    .custom-gauge .wj-pointer path {
        fill: #ffa500;
        stroke: #cd853f;
    }
</style>


@{
    ViewBag.Title = "Home Page";
    var teal = "#009688";
    var red = "#F44336";
    
}
<div class="container-fluid m-0 p-0">
    <div class="row justify-content-between m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="gridster m-0 p-0">
                <ul class="m-0 p-0">

                   


                </ul>
            </div>

        </div>
    </div>
</div>

@*<button class=" btn btn-success btn-Save">Save</button>*@
@section scripts
{


    <script type="text/javascript">
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
    </script>

    <script>
        var gridster;

        function bindBtnRemove() {

            $('.btn-remove').unbind();

            $('.btn-remove').on('click', function () {

                var obj = $(this).parent('header').parent('li');

                gridster.remove_widget(obj);
                savePanel();
                //$('.btn-Save').trigger('click');

            });
        }

        function addPanel(obj, id) {

            if ($('#a' + id).length > 0) {

            } else {

                var reportname = obj.find('.reportname').text();
                var x = Number(obj.data('x'));
                var y = Number(obj.data('y'));

                gridster.add_widget(
                    '<li class="shadow-lg rounded" data-row="2" data-col="4" data-sizex="3" data-sizey="1">' +
                    '<header class="text-center rounded-top"><span class=" m-0 p-0">|||</span><button style="float:right;" ' +
                    'class= "btn btn-outline-info btn-sm m-0 p-0 btn-remove" > X</button ></header > <div class="card-body m-0 p-0"> <h4 class="card-title text-center m-0 p-0">' + reportname + '</h4>' +
                    '<div class="web-content" id="a' + id + '" ></div>' +
                    '</div > </li > ', x, y);
                bindBtnRemove();
                savePanel();
                loadSingleData('a' + id);
                $('.gs-w').css('overflow', 'hidden');
            }

        }

        function loadSingleData(id) {
             var url = "@Url.Content("~/Home/GenReport/")" + id;
             $.get(url, function (e) {
                 $('#'+id).html(e);
             });
        }

        function loadData() {

            $('.web-content').each(function (idx, obj) {
                var id = $(this).attr('id');
                loadSingleData(id);
            })
        }

        function savePanel() {

            setTimeout(function () {

                var data = $('.gridster ul').html();
                localStorage.removeItem('positions')
                localStorage.setItem('positions', data);


            }, 1000);

        }

        $(function () {

            var pos = localStorage.getItem('positions');

            if (pos != null) {
                //localStorage.removeItem('positions')
                $('.gridster ul').html(pos);
            }


            gridster = $(".gridster ul").gridster({
                widget_base_dimensions: [100, 100],
                widget_margins: [3, 3],

                helper: 'clone',
                draggable: {
                    drag: function () {
                        savePanel();
                    },
                },
                resize: {
                    enabled: true,
                    resize: function () {
                        savePanel();
                    },
                }
            }).data('gridster');


            $('.js-resize-random').on('click', function () {
                gridster.resize_widget(gridster.$widgets.eq(getRandomInt(0, 9)),
                getRandomInt(1, 4), getRandomInt(1, 4))
            });

            $('.report-item').on('click', function () {
                var id = $(this).attr("id");

                addPanel($(this),id);

            });

            bindBtnRemove();

            $(".draggable").draggable({
                revert: "invalid",
                helper: "clone",
                zIndex: 10,

            });

            $("#content").droppable({
                drop: function (event, ui) {
                    var draggable = ui.draggable;
                    var dragged = draggable.clone();
                    var currentID = ui.draggable.attr('id');

                    dragged.resizable();
                    dragged.appendTo("#droppable2");

                    addPanel($('#' + currentID), currentID);

                }
            });

            loadData();


            $('.gs-w').css('overflow', 'hidden');
        });
    </script>


}
