


@{
    ViewBag.Title = "Home Page";
    String hiddenstyle = (String)ViewBag.HiddenStype;

}

<style>
    .custom-gauge .wj-pointer path {
        fill: #ffa500;
        stroke: #cd853f;
    }

    .non-active{
       display:none;

    }
    .nav-item:hover{
       cursor:pointer;
    }

    .dropdown-toggle:hover{
        cursor:pointer;
    }

   @hiddenstyle

</style>


<div class="container-fluid ">
    <div class="row justify-content-end ">
        <div class="col-1 m-0 p-0 mr-1">
            <div class="dropdown">
                <a class="dropdown-toggle"
                   id="dropdownMenuButton"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Roger Roan
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Reset Panel</a>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="user-content ">
    <div id="currendindex" data-id="0"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-id="0" data-target="tab-0" href="#">Default
                <span class="ml-2 m-0 p-0" style="display:inline;float:right;">
                    <i class="material-icons text-dark">drag_indicator</i>
                </span>
            </a>
            
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-target="tab-1"  data-id="1" href="#">Customize
                <span class="ml-2 m-0 p-0" style="display:inline;float:right;">
                    <i class="material-icons text-dark">drag_indicator</i>
                </span>
            </a>
        </li>
        <li class="nav-item nav-add">
            <a class="nav-link1 "  href="#" 
                data-toggle="modal" data-target="#addModal">
                <i class="material-icons text-dark mt-2">add</i>
            </a>
        </li>
       
    </ul>

    <div class="tab-content gridster">

        <div class="mytab w-100" id="tab-0" >
            
            <ul class="m-0 p-0" id="demo0"></ul>

        </div>

        <div class="mytab non-active w-100"  id="tab-1">
            
            <ul class="m-0 p-0" id="demo1"></ul>

        </div>


    </div>

</div>


<!-- Modal -->
<div class="modal fade"
     id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New TabItem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text"  class="form-control" id="tabname" 
                           aria-describedby="emailHelp" placeholder="Tab title">
               
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-addtab">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*<button class=" btn btn-success btn-Save">Save</button>*@
@section scripts
{


    <script type="text/javascript">
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
    </script>

    <script>
        var gridsters = [];
        var currentindex = 0;

        var index = 0;


        function bindNavLink() {

            $('.nav-link').unbind();

            $('.nav-link').on('click', function () {

                $('.nav-link').removeClass('active');

                $(this).toggleClass('active');

                var target = $(this).data("target");

                $('.mytab').addClass("non-active");

                $('#' + target).removeClass("non-active");

                var id = Number($(this).data('id'));

                $('#currendindex').data('id', id);

                currendindex = id;

            });
        }


        function bindBtnRemove() {

            $('.btn-remove').unbind();

            $('.btn-remove').on('click', function () {

                var obj = $(this).parent('header').parent('li');

                var idx = Number($('#currendindex').data('id'));

                var gridsternow = gridsters[idx];

                gridsternow.remove_widget(obj);

                savePanel();

            });
        }

        //Add Zone
        function addPanel(obj, id) {

            var reportname = obj.find('.reportname').text();
            var x = Number(obj.data('x'));
            var y = Number(obj.data('y'));
            var group = obj.data('group');

            var idx = Number($('#currendindex').data('id'));

            var gridsternow = gridsters[idx];

            gridsternow.add_widget(
                '<li class="' + group + '"' + ' shadow-lg rounded" data-row="2" data-col="4" data-sizex="3" data-sizey="1">' +
                '<header class="text-center rounded-top"><span class=" m-0 p-0">|||</span><button style="float:right;" ' +
                'class= "btn btn-outline-info btn-sm m-0 p-0 btn-remove" > X</button ></header > <div class="card-body m-0 p-0"> <h4 class="card-title text-center m-0 p-0">' + reportname + '</h4>' +
                '<div class="web-content" id="a' + id + '" ></div>' +
                '</div > </li > ', x, y);

            bindBtnRemove();
            savePanel();
            loadSingleData('a' + id);

            $('.gs-w').css('overflow', 'hidden');
     
        }

        function loadSingleData(id) {
             var url = "@Url.Content("~/Home/GenReport/")" + id;
             //$.get(url, function (e) {
             //    $('#'+id).html(e);
             //});
        }

        function loadData() {

            $('.web-content').each(function (idx, obj) {
                var id = $(this).attr('id');
                loadSingleData(id);
            })
        }

        function savePanel() {

            setTimeout(function () {

                var data = $('.user-content').html();
                //var data = $('.gridster ul').html();
                localStorage.removeItem('positions');
                localStorage.setItem('positions', data);
                

            }, 1000);

        }

        $(function () {
            
            var pos = localStorage.getItem('positions');

            if (pos != null) {

                //localStorage.removeItem('positions');

                $('.user-content').html(pos);
                //$('.gridster ul').html(pos);
            } 

            var gridsteritem;

            $('.nav-link').each(function (inx, item) {

                var id = $(this).data('id');

                gridsteritem = $("#demo" + id).gridster({
                    widget_base_dimensions: [100, 100],
                    widget_margins: [3, 3],

                    helper: 'clone',
                    draggable: {
                        drag: function () {
                            savePanel();
                        },
                    },
                    resize: {
                        enabled: true,
                        resize: function () {
                            savePanel();
                        },
                    }
                }).data('gridster');


                gridsters.push(gridsteritem);


            });
            //    
            //});


            //var gridster = $("#demo0").gridster({
            //    widget_base_dimensions: [100, 100],
            //    widget_margins: [3, 3],

            //    helper: 'clone',
            //    draggable: {
            //        drag: function () {
            //            savePanel();
            //        },
            //    },
            //    resize: {
            //        enabled: true,
            //        resize: function () {
            //            savePanel();
            //        },
            //    }
            //}).data('gridster');



            //var gridster1 = $("#demo1").gridster({
            //    widget_base_dimensions: [100, 100],
            //    widget_margins: [3, 3],

            //    helper: 'clone',
            //    draggable: {
            //        drag: function () {
            //            savePanel();
            //        },
            //    },
            //    resize: {
            //        enabled: true,
            //        resize: function () {
            //            savePanel();
            //        },
            //    }
            //}).data('gridster');

            //gridsters.push(gridster);

            //gridsters.push(gridster1);

            

            currentindex = Number($('#currendindex').data('id'));
            
            $('.js-resize-random').on('click', function () {
                gridster.resize_widget(gridster.$widgets.eq(getRandomInt(0, 9)),
                getRandomInt(1, 4), getRandomInt(1, 4))
            });

            $('.report-item').on('click', function () {
                var id = $(this).attr("id");

                addPanel($(this),id);

            });

            bindBtnRemove();

            $(".draggable").draggable({
                revert: "invalid",
                helper: "clone",
                zIndex: 10,

            });

            $("#content").droppable({
                drop: function (event, ui) {
                    var draggable = ui.draggable;
                    var dragged = draggable.clone();
                    var currentID = ui.draggable.attr('id');

                    dragged.resizable();
                    dragged.appendTo("#droppable2");

                    addPanel($('#' + currentID), currentID);

                }
            });

            loadData();

            bindNavLink();

            $('.gs-w').css('overflow', 'hidden');

            $('.nav-link').on('click', function () {

                $('.nav-link').removeClass('active');

                $(this).toggleClass('active');

                var target = $(this).data("target");

                $('.mytab').addClass("non-active");

                $('#' + target).removeClass("non-active");

                var id = Number($(this).data('id'));

                $('#currendindex').data('id', id);

                currendindex = id;
                
            });

            $('.btn-addtab').on('click', function () {
                var counter=gridsters.length;

                $('.nav-link').removeClass("active");

                var title=$('#tabname').val();

                $('.nav-add').before(
                    "<li class='nav-item'> <a class='nav-link active' data-target='tab-" + counter+"' data-id='" + counter + "' href='#'>" + title+""+
                    "<span class='ml-2 m-0 p-0' style='display:inline;float:right;'>" +
                    " <i class='material-icons text-dark'>drag_indicator</i>" +
                    "</span>" +
                    " </a>" +
                    "</li >");

                $('.mytab').addClass("non-active");
                //$('.tab-content').addClass("non-active");

                $('.tab-content').append(
                    "<div class='mytab  w-100' id='tab-" + counter+"'>"+
                    "<ul class='m-0 p-0' id='demo" + counter+"'></ul></div>"
                );

                var gridsternew = $("#demo" + counter).gridster({
                    widget_base_dimensions: [100, 100],
                    widget_margins: [3, 3],

                    helper: 'clone',
                    draggable: {
                        drag: function () {
                            savePanel();
                        },
                    },
                    resize: {
                        enabled: true,
                        resize: function () {
                            savePanel();
                        },
                    }
                }).data('gridster');

                gridsters.push(gridsternew);

                bindNavLink();

                $('#tabname').val('');

                $('.btn-close').trigger('click');

                $('.nav-link').trigger('click');

            });

        });
    </script>


}
